@import "tailwindcss";

@theme inline {
    --color-background: #FDFAF6;
    --color-foreground: #2C1F0E;

    --color-vert: #1A5C3A;
    --color-vert-fonce: #0D3D25;
    --color-vert-moyen: #2E7D4F;
    --color-vert-clair: #9FCC96;
    --color-vert-pale: #E1F5EE;

    --color-terracotta: #C4622D;
    --color-terracotta-clair: #F0A875;
    --color-terracotta-pale: #FAECE7;

    --color-creme: #FDFAF6;
    --color-creme-bord: #EAE0D5;
    --color-creme-sombre: #F0E8DF;

    --color-marron: #2C1F0E;
    --color-marron-doux: #6B5744;
    --color-marron-muted: #8A7060;
    --color-marron-pale: #A89B8A;

    --font-playfair: 'Playfair Display', Georgia, serif;
    --font-dm: 'DM Sans', sans-serif;
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-dm);
}

@media (max-width: 768px) {
    .hidden-mobile {
        display: none !important;
    }

    .show-mobile {
        display: flex !important;
    }
}